<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,850},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>AB.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1099},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ABP.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1024},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ABT.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,951},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ABTP.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1007},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>AP.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,829},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>AT.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,913},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>ATP.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1007},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,812},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>BP.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,812},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,930},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>BTP.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,913},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>GamePad-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,812},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-DL.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,542},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-DR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-L.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,542},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-R.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,272},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-U.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-UL.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,272},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad-UR.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>GamePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,460},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{134,55}</string>
            </dict>
            <key>LP.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,570},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,403},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{134,55}</string>
            </dict>
            <key>RP.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,517},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,811},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>SelectP.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,790},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,772},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>StartP.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,751},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1021},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>XP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1021},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,920},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>YP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>bgEditorGamePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,467},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>bg_option_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,340},{191,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,61}}</string>
                <key>sourceSize</key>
                <string>{191,61}</string>
            </dict>
            <key>bg_resize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,283}}</string>
                <key>sourceSize</key>
                <string>{106,283}</string>
            </dict>
            <key>bg_slider_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,41},{193,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,33}}</string>
                <key>sourceSize</key>
                <string>{193,33}</string>
            </dict>
            <key>bg_slider_resize.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{193,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,37}}</string>
                <key>sourceSize</key>
                <string>{193,37}</string>
            </dict>
            <key>bg_small_control.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,277},{191,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,61}}</string>
                <key>sourceSize</key>
                <string>{191,61}</string>
            </dict>
            <key>btn_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,210},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,143},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_profiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,76},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,595},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>icoMove.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,812},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ico_LR.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1006},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>ico_SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,920},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>ico_dpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,662},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>ico_joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,718},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ico_slider_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,566},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>ico_slider_button_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,537},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>joyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>joyDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,623},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>switch_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,662},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>switch_off_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,435},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>switch_on_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,403},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GamePad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d6c4bb1ad2beb961349b4e142f2cb33:1/1$</string>
            <key>textureFileName</key>
            <string>GamePad.png</string>
        </dict>
    </dict>
</plist>
